.weather-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightblue;
    width: 151vh;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 0px 70px 100px 3px rgba(131, 147, 254, 0.486);
}

.left {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 4%;
}

.gradosIcon {
    display: flex;
    flex-direction: row;
    margin-right: 43px; /* Puedes ajustar este margen según tus necesidades */
}

.grados {
    font-size: 13vh;
    font-family: 'Noto Sans Kawi', sans-serif;
}

.iconContainer {
    margin-left: 12%;
    margin-top: 43%;
}

.localidad {
    margin: -80px;
    font-size: 23px;
  font-family: 'Noto Sans Kawi', sans-serif;
}

.right {
    margin-top: 19%;
    margin-right: 4%;
}

.hora {
    margin-right: -79px;
    font-size: 23px;
  font-family: 'Noto Sans Kawi', sans-serif;
}

.tiempo {
    margin-top: -30px;
    font-size: 23px;
    font-family: 'Noto Sans Kawi', sans-serif;

}

.containerDown {
    display: flex;
    flex-direction: row;
  margin-top: 7.5%;

}

@media screen and (max-width: 1628px) {
    .weather-container {
        width: 140vh;
    }

    .containerDown {
        width: 140vh;
    }
}

@media screen and (max-width: 1560px) {
    .weather-container {
        width: 130vh;
    }

    .containerDown {
        width: 130vh;
    }
}

@media screen and (max-width: 1468px) {
    .weather-container {
        width: 120vh;
    }

    .containerDown {
        width: 120vh;
    }
}

@media screen and (max-width: 1326px) {
    .weather-container {
        width: 110vh;
    }

    .containerDown {
        width: 110vh;
    }
}